body {
    background-color: darkslategray;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    width: 720px;
    margin: 0 auto;
}

img.dish-image {
    width: 200px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

div.recipe {
    border: 2px solid white;
    border-radius: 2%;
    margin: 24px 0;
    padding: 24px;
    width: 480px;
    text-align: center;
}

div.recipe:nth-child(odd) {
    margin-right: auto;
}

div.recipe:nth-child(even) {
    margin-left: auto;
}

div.recipe p,
div.recipe ul,
div.recipe h3 {
    text-align: left;
}


div.recipe h3 {
    padding-left: 20px;
}